/* see https://github.com/squidfunk/mkdocs-material/issues/175 */
.md-typeset__table {
   min-width: 100%;
}
.md-typeset table:not([class]) {
    display: table;
}

/* https://mkdocstrings.github.io/recipes/#prevent-selection-of-prompts-and-output-in-python-code-blocks */
.highlight .gp, .highlight .go { /* Generic.Prompt, Generic.Output */
    user-select: none;
}
