name: publish.yml
on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/cypherantic
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - run: uv build

      - name: Publish package distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
